<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pay My Buddy - <?= $title ?></title>
<link rel="icon" type="image/png" th:href="@{favIcon.png}" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<!-- Custom CSS -->
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>

	<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
		<div class="container-fluid ">
			<a class="navbar-brand pmbColor p-3 me-auto text-white rounded"
				href="home">Pay My Buddy</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarColor03"
				aria-controls="navbarColor03" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse flex-row-reverse"
				id="navbarColor03">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active" href="home">Home
							<span class="visually-hidden">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<section class="vh-100 gradient-custom">
		<div class="container py-5 h-100">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card bg-light" style="border-radius: 1rem;">
						<div class="card-body p-5 text-center">

							<form th:action="@{/sign}" th:object="${customer}" method="post"
								class="mb-md-5 mt-md-4 pb-5">
								<h2
									class="fw-bold mb-3 text-uppercase rounded pmbColor text-white p-3">Pay
									My Buddy</h2>
								<h4>Sign in</h4>
								<div th:if="${param.exception}"
										class="d-flex justify-content-center text-white bg-warning rounded">
										<p class="m-1">
											<strong>exception.</strong>
										</p>
									</div>
									<div th:if="${param.registeredFail}"
										class="d-flex justify-content-center text-white bg-danger rounded">
										<p class="m-1">
											<strong>Registration failed.</strong>
										</p>
									</div>
									<div th:if="${param.successRegistered}"
										class="d-flex justify-content-center text-white pmbColor rounded">
										<p class="m-1">
											<strong>Registration success.</strong>
										</p>
									</div>
								<div class="form-row mb-4">

									
									<div class="col">
									
										<!-- Last name -->
										<input type="text" class="form-control my-4" name="lastName"
											placeholder="Last name">
									</div>
									<div class="col">
										<!-- First name -->
										<input type="text" class="form-control" name="firstName"
											placeholder="First name">
									</div>
								</div>
								<!-- E-mail -->
								<input type="email" name="email" class="form-control mb-4"
									placeholder="E-mail">
								<!-- Password -->
								<input type="password" name="password" class="form-control"
									placeholder="Password"
									aria-describedby="defaultRegisterFormPasswordHelpBlock">
								<div id="defaultRegisterFormPasswordHelpBlock"
									class="form-text text-muted my-2">At least 8 characters
									and 1 digit</div>
								<!-- Sign up button -->
								<button class="btn btn-info my-3 w-100 btn-block" type="submit">Sign
									in</button>
								<!-- Social register -->
								<p>or sign up with:</p>
								<a href="#" class="mx-2" role="button"><i
									class="fab fa-facebook-f light-blue-text"></i></a> <a href="#"
									class="mx-2" role="button"><i
									class="fab fa-twitter light-blue-text"></i></a> <a href="#"
									class="mx-2" role="button"><i
									class="fab fa-linkedin-in light-blue-text"></i></a> <a href="#"
									class="mx-2" role="button"><i
									class="fab fa-github light-blue-text"></i></a>
								<hr>
								<!-- Terms of service -->
								<p>
									By clicking <em>Sign up</em> you agree to our <a href=""
										target="_blank">terms of service</a>
							</form>

							<!-- Default form register -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer class="text-center fixed-bottom gradRbTop">
		<!-- Copyright -->
		<div class="text-center p-1"
			style="background-color: rgba(0, 0, 0, 0.2);">© 2023 Copyright
			: Pay My Buddy</div>
	</footer>
	<!-- Bootstrap JS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Custom JS -->
	<script type="" src=""></script>
</body>




</html>